@model VotingSystem.Web.ViewModels.Votes.VoteWithCandidatesInputModel
@{
    ViewBag.Title = "Vote";
}

<h1>@Model.Title</h1>
<h2>You must vote for exactly <span id="count">@Model.NumberOfVotes</span> candidates</h2>

@using (Html.BeginForm("Vote", "Votes", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.IdentificationCode)
    

    @Html.EditorFor(c => c.Candidates)
    <input id="submit" type="submit" disabled ="disabled" value="Submit"class="btn btn-success btn-lg btn-block"/>
}

@section scripts {
    @Scripts.Render("~/bundles/checkbox")
}

